APP_NAME=personalhub
HOST=localhost
APP_PORT=8000
SERVER_URL=http://localhost

DB_HOST=postgres
DB_PORT=5432
DB_PORT_EXTERNAL=5433
DB_NAME=personalhub
DB_USER=postgres
DB_PASSWORD=postgres
DB_ECHO=true